// xs: 0,
// sm: 480px,
// md: 768px,
// lg: 1024px

// BREAKPOINT
$breakpoint-md: 768px;

$breakpoints: (
  'md': 'screen and (min-width: #{$breakpoint-md})',
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ZINDEX
$z-header: 100;
$z-menu: 101;

// COLORS
$color-primary: #333333;
$color-secondary: #666666;
$color-white: #ffffff;
$color-black: #333333;
$color-text--default: #333333;
$color-text--active: #0d6efd;

// TRANSITION
$transition-default: .5s;
